# customized
HGPextreme/core/__pycache__
HGPextreme/core/.ipynb_checkpoints
HGPextreme/examples/__pycache__
HGPextreme/examples/.ipynb_checkpoints

HGPextreme/examples/oned/job.sh
HGPextreme/examples/oned/__pycache__
HGPextreme/examples/oned/.ipynb_checkpoints

HGPextreme/examples/fourbranches/job.sh
HGPextreme/examples/fourbranches/__pycache__
HGPextreme/examples/fourbranches/.ipynb_checkpoints

HGPextreme/examples/motorcycle/__pycache__
HGPextreme/examples/motorcycle/.ipynb_checkpoints